<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="VacunDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VacunDesktop.Properties.Settings>
            <setting name="servidor" serializeAs="String">
                <value>173.255.225.72</value>
            </setting>
            <setting name="bbdd" serializeAs="String">
                <value>VacunWebContext</value>
            </setting>
            <setting name="usuario" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="imagenFondo" serializeAs="String">
                <value>C:\Users\Ruben A Ramirez\Pictures\Screenpresso\2021-10-13_10h05_04.png</value>
            </setting>
            <setting name="contraseña" serializeAs="String">
                <value>GQ60Vb7w</value>
            </setting>
            <setting name="localdb" serializeAs="String">
                <value>False</value>
            </setting>
        </VacunDesktop.Properties.Settings>
    </userSettings>
</configuration>